@import "application-service/AddService";
@import "application-service/FAQ";
@import "application-service/Header";
@import "application-service/Input";
@import "application-service/SearchField";
@import "application-service/Section";
@import "application-service/DatePicker.scss";
@import "application-service/Address.scss";

.error-message {
  font-size: 14px;
  color: #ff0000bd;
}

.field-wrap {
  word-wrap: anywhere;
}
