.form-group {
  position: relative;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    position: absolute;
    top: .5rem;
    left: 1rem;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    color: #959595;
    cursor: text;
    font-size: 1rem;
  }

  .label-focused {
    top: -10px;
    left: 1rem;
    font-size: 12px;
    background-color: #fff;
    padding: 0 2px;
    color: #000;
  }

  .input-group-prepend {
    display: flex;

    .input-group-text {
      padding: .3rem .5rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .form-control {
    width: 100%;
    height: calc(1.5em + .75rem);
    padding: .5rem 1rem;
    border: 1px solid #B2B7C7;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    
    &_white {
      color: transparent
    }
  }

  .form-control:focus {
    box-shadow:  0 0 .2rem #5C53AC;
  }
}

.form-group_label {
  .input-group-prepend {
    .input-group-text {
      position: absolute;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .form-control {
    padding-left: 50px;
  }

  label {
    left: 50px;
  }

  .label-focused {
    left: 45px;
  }
}
