.button-group {
  display: flex;

  .btn {
    padding: 6px 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-left-width: 0;
    border-right-width: 1px;
    border-radius: 0;
  }

  .btn:first-child {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  .btn:last-child {
    border-right-width: 1px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
}