.btn {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: $white;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $blue;
  border: 1px solid $blue;
  padding: .375rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all .3s ease-in-out;
  outline: none;

  &:hover {
    color: #fff;
    background-color: $dark-blue;
    border: 1px solid $dark-blue;
  }

  &:focus {
    box-shadow: none;
  }

  &_white {
    background-color: $white;
    border-color: #cbcbcb;
    color: $blue;
  }

  &_white:hover {
    background-color: $white;
    color: $blue;
    border: 1px solid $dark-blue;
  }

  &:hover .btn__tooltip {
    visibility: visible;
    transition: all ease-in-out .15s;
  }
}

.btn__tooltip {
  padding: .2rem .25rem;
  width: max-content;
  position: absolute;
  top: 120%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  border-radius: .25rem;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
  transition: all ease-in-out .15s;
  visibility: hidden;
  z-index: 100;
}

.btn__tooltip_l {
  width: 130px;
}

.btn_round {
  padding: .75rem;
  color: $blue;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 1.25rem;

  &:hover {
    color: $blue;
    border: none;
    background-color: $light-gray;
  }

  &_small {
    padding: 0.5rem;
    width: 36px;
    height: 36px;
  }
}

.btn_small {
  padding: 0;
  color: $blue;
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
  cursor: default;

  &:hover {
    color: $blue;
    border: none;
    background-color: transparent;
  }
}

.btn_arrow {
  padding: .5rem .75rem;
  font-size: 1rem;
  transform: rotate(0);
  transition: all ease-in-out .3s;

  &_down {
    transform: rotate(90deg);
    transition: all ease-in-out .3s;
  }
}