.checkbox-google {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-bottom: 0;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  transition: all linear .15s;

  .btn__tooltip {
    top: 120%;
    left: -120%;
  }

  &:hover .btn__tooltip {
    visibility: visible;
    transition: all ease-in-out .15s;
  }

  .checkbox-google-input {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .checkbox-google-switch {
    display: inline-block;
    width: 36px;
    height: 14px;
    border-radius: 20px;
    position: relative;
    top: 6px;
    vertical-align: top;
    background: $dark-gray;
    transition: all ease-in-out .15s;
  }

  .checkbox-google-switch:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -3px;
    left: -1px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
    transform: translate(0);
    transition: all ease-in-out .15s;
  }

  &_checked {
    .checkbox-google-switch {
      background: $blue;
    }

    .checkbox-google-switch:before {
      background: $white;
      transform: translateX(18px);
    }
  }
}