.input {
  padding: 0 .5rem;
  min-width: 265px;
  font-size: 1rem;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  outline: none;

  &:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
  }

  &:focus-visible {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
  }
}