.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .15s, visibility .15s linear;

  .modal-dialog {
    min-width: 500px;

    .modal-content {
      padding: 20px;
      position: relative;
      width: 100%;
      height: 80%;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: default;

      .modal-header {
        padding: 0 0 1rem;

        .modal-title {
          font-size: 1.5rem;
        }
      }

      .modal-body {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;

        &__title {
          font-size: 1.25rem;
        }

        .d-flex {
          .form-group {
            margin-right: 1rem;
            margin-bottom: 0;
          }
        }
      }

      .modal-footer {
        padding: .75rem 0 0;
        min-height: 60px;
      }
    }
  }

  .modal-lg {
    .modal-content {
      width: 700px;
    }
  }
}

.modal-small {
  background-color: transparent;

  .modal__content {
    width: 270px;
    height: auto;
    position: absolute;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  }
}

.show {
  display: flex;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
}