.tab-list {
  margin: 0;
  display: flex;
  border-bottom: 1px solid $dark-gray;

  &__btn {
    padding: .375rem .75rem;
    background-color: transparent;
    border: none;

    &:hover {
      border-bottom: 2px solid rgba(0, 0, 0, .87);
    }

    &_active {
      border-bottom: 2px solid rgba(0, 0, 0, .87);
    }
  }
}