<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      type="img/png"
      href="{{ url_for('static', filename='media/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/vendor.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="{{ url_for('static', filename='js/vendor.js') }}"></script>
    <title>Сервис управления пользователями</title>
    <script>
      const
        DEBUG = {{ 'true' if config['DEBUG'] else 'false' }},
        SENTRY_ENV = "{{ sentry.environment | default('develop') }}",
        SENTRY_RATE = {{ sentry.rate | default(1.0) }},
        VERSION = "{{ sentry.version }}"
    </script>
  </head>

  <body>
    {% block header %} {% include '_partials/header.html' %} {% endblock %} {%
    block content %} {% include 'application-service.html' %} {% endblock %} {%
    block footer %} {% include './_partials/footer.html' %} {% endblock %}
  </body>
  {% block tail %} {% endblock %}
</html>
