{% extends '.base.html' %} {% block content %}
<div class="header">
  <div id="user"></div>
</div>
<div id="section" class="section"></div>
{% endblock %} {% block tail %}
<script src="{{ url_for('static', filename='js/application.js') }}"></script>
{% endblock %}
