.d-flex .title {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 3px;
  margin-bottom: 6px;
}

.container .subfield {
  color: rgb(178, 183, 199);
}

.right-space {
  padding-right: 0;
}

.btns {
  padding-right: 10px;

  &:last-of-type {
    padding-right: 0;
  }

  // Для выравнивания кнопок к одной ширине
  &-first_left {
    padding-left: 6px;
  }

  &-first_right {
    padding-right: 6px;
  }

  &-second_left {
    padding-left: 2px;
  }

  &-second_right {
    padding-right: 2px;
  }
}
