.lists {
  max-width: 460px;
}

.title {
  color: rgba(0, 0, 0, 0.6);
}

.text-size {
  font-size: 16px;
}

.list-group-item .subtext-size {
  color: rgb(178, 183, 199);
  font-size: 14px;
}
