.wrapper-header {
  width: 1000px;
}

.header-logo {
  padding: 0.5rem;

  &_icon {
    color: #4c43a1;
    font-size: 20px;
  }
}

.select-wrapper {
  min-width: 200px;
  z-index: 1000;
  background-color: #fff;
}

.form-btn_icon {
  color: #4c43a1;
  font-size: 20px;
}
