.itpc-field-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_error {
    border-color: #d42564;
  }
}

.itpc-field-error-message {
  margin: 0 10px;
  text-align: left;
  font-size: 12px;
  color: #d42564;
}

.itpc-input-wrap {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #b2b7c7;
  border-radius: 0px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 14px;

  &-button {
    width: 30px;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.itpc-input-label {
  padding: 0 5px;
  width: auto;
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #b2b7c7;
  background-color: #fff;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  cursor: text;

  &_disabled {
    background-color: transparent;
    cursor: default;
  }

  &_focused {
    top: -8px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    color: #000;
  }

  &_error {
    color: #d42564 !important;
  }
}

.itpc-input {
  padding: 7px 10px;
  padding-right: 17px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  border-radius: 0px;
  outline: none;
  font-size: 14px;
  color: transparent;
  appearance: none;
  box-sizing: border-box;

  &_focused {
    color: #000;
  }

  &_disabled {
    background-color: #e5e5e5;
  }
}

.itpc-input::-webkit-calendar-picker-indicator {
  display: none;
}
