.search-field_wrap {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-field {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  /*border: 1px solid rgb(178, 183, 199);*/

  &__input_wrap {
    width: 100%;
  }

  &__loading {
    width: 32px;
  }

  &__btn {
    background-color: transparent;
    border: none;
  }

  &__suggestions {
    width: 100%;
    max-height: 200px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #fff;
    border: 1px solid #b2b7c7;
    overflow-y: auto;
    &_opened {
      display: flex;
    }
  }

  &__suggestion {
    padding: 10px;
    display: flex;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    &_active {
      background-color: #d4d6e7;
    }
    &:hover {
      background-color: #eeeef4;
    }
  }
}
